@import url("./reset.css");
/* @import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?&family=ZCOOL+QingKe+HuangYou&display=swap");


:root {
    height: 100%;
    width: 100%;

    font-family: "ZCOOL QingKe HuangYou";
    font-size: 1vw;
    font-weight: bold;


    /* variables for sizes */
    --marginMain: 2rem;
    --divCvContainerSize: 15vh;
    --pdfHeight: 75vh;
    --pdfWidth: 50vw;


    /* variables with values for "colors" */
    --lightGray: #404040;
    --darkGray: #292929;
    --lightOrange: #ff8000;
    --medOrange: #e67300;
    --darkOrange: #af5800;


    /* variables with values for "filters corresponding to colors" */
    --white_filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(162deg) brightness(103%) contrast(103%);
    --black_filter: brightness(0) saturate(100%) invert(0%) sepia(3%) saturate(4%) hue-rotate(348deg) brightness(106%) contrast(100%);
    --lightGray_filter: brightness(0) saturate(100%) invert(22%) sepia(0%) saturate(0%) hue-rotate(144deg) brightness(99%) contrast(87%);
    --darkGray_filter: brightness(0) saturate(100%) invert(14%) sepia(0%) saturate(1098%) hue-rotate(291deg) brightness(81%) contrast(88%);
    --lightOrange_filter: brightness(0) saturate(100%) invert(55%) sepia(28%) saturate(4682%) hue-rotate(0deg) brightness(102%) contrast(106%);
    --medOrange_filter: brightness(0) saturate(100%) invert(40%) sepia(97%) saturate(851%) hue-rotate(3deg) brightness(99%) contrast(101%);
    --darkOrange_filter: brightness(0) saturate(100%) invert(40%) sepia(78%) saturate(950%) hue-rotate(2deg) brightness(92%) contrast(104%);


    /* variables for animations */
    --transitionDuraTiming: 0.5s ease;
}


body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30vh 70vh;
    grid-template-areas: "grid_hero" "grid_project";
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-color: var(--darkGray);
}


#section_hero {
    grid-area: grid_hero;

    position: relative;

    height: 100%;
    width: 100%;

    background-color: var(--lightOrange);
}


#div_info {
    position: absolute;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "info_intro info_picture info_link";
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 90%;
    
    padding-top: 2em;
    padding-bottom: calc(var(--divCvContainerSize) / 2);
    
    /* centering on both axes */
    inset: 50%;
    transform: translate(-50%, -50%);
}


#div_info_intro {
    grid-area: info_intro;

    padding: 1em 1ch;

    font-size: 2.1em;
    text-align: center;
}


#div_info_picture {
    grid-area: info_picture;

    position: relative;
    /* inset: 0; */

    height: 100%;
    width: 100%;


    & #profile_pic {
        position: relative;

        aspect-ratio: 1;
        height: 95%;

        border-radius: 100%;

        background-color: white;

    
        /* centering on both axes */
        inset: 50%;
        transform: translate(-50%, -50%);


        & img {
            position: absolute;
            display: block;

            aspect-ratio: 1;
            height: 80%;

            
            /* centering on both axes */
            inset: 50%;
            transform: translate(-50%, -50%);
        }
    }


    & #name{
        position: absolute;
        bottom: 5%;

        color: var(--lightGray);
        text-shadow: 
            0 0 0.1em var(--lightOrange),
            0 0 0.1em var(--lightOrange),
            0 0 0.1em var(--lightOrange);
        font-size: 2.5em;

    
        /* centering horizontally */
        left: 50%;
        transform: translateX(-50%);
    }
}


#div_info_link {
    grid-area: info_link;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20%;

    height: 100%;
    width: 100%;

    padding: 1em 1ch;

    font-size: 2em;


    & .div_link {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1ch;

        height: 20%;

        color: black;

        cursor: pointer;


        & .logo img {
            aspect-ratio: 1;
            height: 1em;

            filter: var(--black_filter);
        }


        &:hover {
            color: white;

            & img {
                filter: var(--white_filter)
            }
        }
    }



}



#section_project {
    grid-area: grid_project;

    box-sizing: border-box;
    position: relative;
    inset: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10%;

    height: 100%;
    width: 100%;

    padding-top: calc(var(--divCvContainerSize) / 2);
}


.project {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 75%;
    width: 35%;

    padding: 2em 0;

    background-color: var(--lightOrange);
    border-radius: 1em;


    transition: transform var(--transitionDuraTiming);


    &:hover {
        transform: scale(1.05);
    }
}


.project_name {
    /* flex-basis: 20%; */
    height: 10%;

    font-size: 3em;
}


.project_thumbnail {
    /* flex-basis: 25%; */
    height: 55%;
    max-width: 90%;

    margin-top: 2em;
    margin-bottom: 1em;

    border-radius: 1em;
}


.project_description {
    /* flex-basis: 25%; */
    height: 25%;
    width: 75%;

    color: var(--lightGray);
    font-size: 1.5em;
    text-align: center;
}


.project_link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: center;

    /* flex-basis: 10%; */
    height: 10%;
    width: 50%;

    margin-top: auto;


    & > div {
        aspect-ratio: 1;
        width: 20%;

        margin: 0 auto;


        & > img {
            height: 100%;
            width: 100%;

            filter: var(--darkOrange_filter);


            transition: filter var(--transitionDuraTiming);


            &:hover {
                cursor: pointer;
    
                filter: var(--white_filter);
            }
        }
    }
}






#div_cv_btn_container {
    position: absolute;
    /* needed for it to appear in front of '#section_project' */
    z-index: 1;

    box-sizing: border-box;

    /* centering horizontally */
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);

    padding: 1em;

    height: var(--divCvContainerSize);
    width: var(--divCvContainerSize);

    border-radius: 100%;

    background-color: var(--lightOrange);


    & #div_cv_btn {
        position: relative;

        /* centering on both axes */
        inset: 50%;
        transform: translate(-50%, -50%);

        height: 100%;
        width: 100%;

        border-radius: 100%;

        background-color: rgb(219, 219, 219);

        color: var(--darkOrange);

        transition:
            background-color var(--transitionDuraTiming),
            box-shadow  var(--transitionDuraTiming),
            color  var(--transitionDuraTiming),
            transform  var(--transitionDuraTiming);


        & > p {
            position: relative;

            inset: 50%;
            transform: translate(-50%, -50%);
            font-size: calc(var(--divCvContainerSize) * 0.45);
            text-align: center;

            user-select: none;
        }


        &:hover {
            cursor: pointer;

            background-color: white;
            box-shadow: inset 0 0 1em 0.25em var(--medOrange);

            color: var(--medOrange);

            transform: translate(-50%, -50%) scale(0.9);
        }
    }
}



#section_cv {
    /* needed for it to appear in front of '#div_cv_btn_container' */
    z-index: 2;

    display: none;
    position: fixed;
    inset: 0;

    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.375);
}


/* /!\ AN IFRAME DOESN'T INHERIT ITS PARENT'S CSS /!\ */
iframe {
    display: none;
    position: fixed;
    top: calc( (100vh - var(--pdfHeight)) / 2 );
    left: calc( (100vw - var(--pdfWidth)) / 2 );

    height: var(--pdfHeight);
    width: var(--pdfWidth);

    border-radius: 1em;

    border: none;
}