@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");


/* .centeredBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */


:root {
    height: 100%;
    width: 100%;

    font-family: Prosto One;
    font-size: 1vw;

    --lightGray: hsl(0, 0%, 25%);
    --darkGray: hsl(0, 0%, 16%);
    --lightOrange: hsl(30, 100%, 50%);
    --medOrange: hsl(30, 100%, 45%);
    --darkOrange: hsl(30, 100%, 40%);

    --lightGray_filter: invert(22%) sepia(0%) saturate(0%) hue-rotate(144deg) brightness(99%) contrast(87%);
    --darkGray_filter: invert(14%) sepia(0%) saturate(1098%) hue-rotate(291deg) brightness(81%) contrast(88%);
    --lightOrange_filter: invert(55%) sepia(28%) saturate(4682%) hue-rotate(0deg) brightness(102%) contrast(106%);
    --medOrange_filter: invert(40%) sepia(97%) saturate(851%) hue-rotate(3deg) brightness(99%) contrast(101%);
    --darkOrange_filter: invert(40%) sepia(78%) saturate(950%) hue-rotate(2deg) brightness(92%) contrast(104%);
}


body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 70% 10%;

    height: 100%;
    width: 100%;
    
    background-color: var(--lightGray);
}


header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--darkGray);
}


.title > * {
    display:inline-block;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
}


.title h1 {
    color: var(--lightOrange);
    font-size: 3rem;
    font-weight: bold;

    &::after {
        content: "Black Mesa";
    }
}


.title h2 {
    color: var(--medOrange);
    font-size: 1.5rem;
    font-style: italic;

    &::after {
        content: "research facility";
    }
}


.title:hover {
    & h1::after {
        content: "Чёрная Меза";
    }

    
    & h2::after {
        content: "исследовательский комплекс";
    }
}


.title a {
    text-decoration: none;
}


nav {
    height: 25%;
    width: 50%;

    color: var(--darkOrange);
}


nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    height: 100%;
    width: 100%;
}


nav li {
    height: fit-content;
    width: 100%;
}


nav li > a {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: fit-content;
    width: fit-content;

    text-align: center;

    color: inherit;
    text-decoration: none;

    transition: color 0.25s linear;
}


nav li > a:hover {
    color: var(--lightOrange);
}


nav li > a::after {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 0.2em;
    width: 0%;
    border-radius: 1em;

    background-color: var(--darkOrange);

    content: "";

    transition: width 0.25s linear, background-color 0.25s linear;
}


nav li > a:hover::after {
    background-color: var(--lightOrange);
    width: 75%;
}


.copyright {
    color: var(--darkOrange);

    & p::after {
        content: "\00a9 Black Mesa research facility, New Mexico";
    }

    & p:hover {
        &::after {
            content: "\00a9 Чёрная Меза исследовательский комплекс, Нью-Мексико";
        }
    }
}

