@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");


:root {
    height: 100%;
    width: 100%;

    font-family: Prosto One;
    font-size: 1vw;

    /* variables with values for "colors" */
    --lightGray: #404040;
    --darkGray: #292929;
    --lightOrange: #ff8000;
    --medOrange: #e67300;
    --darkOrange: #af5800;


    /* variables with values for "filters corresponding to colors" */
    --lightGray_filter: invert(22%) sepia(0%) saturate(0%) hue-rotate(144deg) brightness(99%) contrast(87%);
    --darkGray_filter: invert(14%) sepia(0%) saturate(1098%) hue-rotate(291deg) brightness(81%) contrast(88%);
    --lightOrange_filter: invert(55%) sepia(28%) saturate(4682%) hue-rotate(0deg) brightness(102%) contrast(106%);
    --medOrange_filter: invert(40%) sepia(97%) saturate(851%) hue-rotate(3deg) brightness(99%) contrast(101%);
    --darkOrange_filter: invert(40%) sepia(78%) saturate(950%) hue-rotate(2deg) brightness(92%) contrast(104%);

    /* variables for animations */
    --fadeDuration: 0.5s;
}


body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 75% 10%;

    height: 100%;
    width: 100%;
    
    background-color: var(--lightGray);
}


header, footer {
    background-color: var(--darkGray);
}

/******* HEADER *******/
/******* HEADER *******/
/******* HEADER *******/
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6em;

    height: 100%;

    background-color: var(--darkGray);
}


.logo_name {
    display: grid;
    grid-template-columns: calc((1/3) * 100%) calc((2/3) * 100%);
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
    /* gap: 1em; */

    height: 70%;
    width: 30%;
}


.logo_name > img {
    height: 100%;
    width: 100%;

    filter: var(--lightOrange_filter);
}


.name {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;

    height: 100%;
    width: 100%;
}
.name:hover #name_notHovered {
    opacity: 0%;
}
.name:hover #name_hovered {
    opacity: 100%;
}


#name_notHovered,#name_hovered > *::after {
    white-space: nowrap;
}


#name_notHovered {
    position: absolute;
    top: 50%;

    transition: opacity var(--fadeDuration) linear;
}
#name_notHovered h1::after {
    content: "Black Mesa";
}
#name_notHovered h2::after {
    content: "research facility";
}


#name_hovered {
    position: absolute;
    top: 50%;

    opacity: 0%;

    transition: opacity var(--fadeDuration) linear;
}
#name_hovered h1::after {
    content: "Чёрная Меза";
}
#name_hovered h2::after {
    content: "исследовательский комплекс";
}


.name * {
    text-align: center;
}


.name a {
    position: relative;
    
    height: 100%;
    width: 100%;

    text-decoration: none;
}
.name a > * {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateY(-50%) translateX(-50%);

    width: fit-content;
}


.name h1 {
    color: var(--lightOrange);
    font-size: 3rem;
    font-weight: bold;
}


.name h2 {
    color: var(--medOrange);
    font-size: 1.5rem;
    font-style: italic;
}


nav {
    height: 80%;
    width: 50%;

    color: var(--darkOrange);
}


nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

    height: 100%;
    width: 100%;
}


nav li {
    height: fit-content;
    width: fit-content;

    font-size: 2rem;
}


nav li > a {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: fit-content;
    width: fit-content;

    text-align: center;

    color: inherit;
    text-decoration: none;

    transition: color 0.25s linear;
}
nav li > a:hover {
    color: var(--lightOrange);
}
nav li > a::after {
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 0.1em;
    width: 0%;
    margin-top: 0.35em;

    border-radius: 1em;

    background-color: var(--darkOrange);

    content: "";

    transition: width 0.25s linear, background-color 0.25s linear;
}
nav li > a:hover::after {
    background-color: var(--lightOrange);
    width: 75%;
}


/******* MAIN *******/
/******* MAIN *******/
/******* MAIN *******/
main {

}


#motto {
    position: relative;

    margin: 10% auto auto 10%;
}


/******* FOOTER *******/
/******* FOOTER *******/
/******* FOOTER *******/
footer {
    display: grid;
    grid-template-columns: repeat(3, calc((1/3) * 100%));
    grid-template-rows: repeat(3, calc((1/3) * 100%));
    justify-items: center;
    align-items: center;
}


.copyright {
    grid-area: 2 / 2 / 3 / 3;

    position: relative;

    height: 100%;
    width: 100%;

    color: var(--darkOrange);
}
.copyright:hover {
    & #copyright_notHovered {
        opacity: 0%;
    }

    & #copyright_hovered {
        opacity: 100%;
    }
}


#copyright_notHovered {
    transition: opacity var(--fadeDuration) linear;
}
#copyright_notHovered::after {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    white-space: nowrap;

    content: "\00a9 Black Mesa research facility, New Mexico";
}


#copyright_hovered {
    opacity: 0%;

    transition: opacity var(--fadeDuration) linear;
}
#copyright_hovered::after {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    white-space: nowrap;

    content: "\00a9 Чёрная Меза исследовательский комплекс, Нью-Мексико";
}